seaborn==0.11.1
scipy==1.6.0
matplotlib==3.3.4
numpy==1.19.5
pandas==1.2.0
streamlit==0.74.1
yahoo-fin==0.8.6
pandas-datareader==0.9.0
yahoofinancials==1.6.0
yfinance==0.1.55
prophet==1.0.1
plotly==4.14.3
QuantLib==1.21
translate==3.5.0
deep-translator==1.4.1
nltk==3.5
bs4==0.0.1 
streamlit-pandas-profiling==0.1.2 
streamlit-analytics==0.2.2 
streamlit-theme==0.58.0
